@import "/src/Sass/variables.scss";
@import "/src/Sass/mediaQuery.scss";
.container{
    max-width: 1200px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2rem;
    padding: 10px;
    .wrapper{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 500px;
        @include md{
            width: 100%;
        }
        .image{
            width: 100%;
            height: 50vh;
            border:1.5px  dashed #000;
            display: flex;
            align-items: center;
            position: relative;
            justify-content: center;
            .close{
                position: absolute;
                border-radius: 50%;
                right: 0;
                top: 0;
            }
            img{
                width: 100%;
            padding: 10px;

                object-fit: contain;
                height: 50vh;
            }
        }
        input{
            padding: .7rem 1rem;
            border: 1.5px solid darkgray;
            background: transparent;
            color: black;
            outline: none;
        }
        button{
            padding: 1rem 1rem;
            border: none;
            background: $orange-color;
            color: white;
            cursor: pointer;
        }
        select{
            padding: .5rem .8rem;
            outline: none;

        }
    }
    .category{
        display: flex;
        align-items: center;
        gap: 10px;
        label{
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
}