@import "../Sass/variables.scss";
@import "../Sass/mediaQuery.scss";
.header-profile {
    position: relative;
    @media (min-width: 980px) {
        display: none;
    }
    .wrappers {
        transition: all 0.5s ease;
        img {
            width: 30px;
            height: 30px;
            border: 1.5px solid black;
            border-radius: 50%;
            cursor: pointer;
        }
        .wrapper-header-mobile{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            flex-direction: column;
            padding-bottom: 1rem;
            a{
                color: #131200;
                font-size: 15px;
                    text-transform: uppercase;
            }
        }
    }
    .back-wrapper {
        position: absolute;
        top: 2rem;
        left: -12rem;
        width: 200px;
        height: auto;
        background: $background-color;
        z-index: 99;
        display: none;

        &.active {
            display: block;
        }
        .wrappers {
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;
            height: 100%;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                padding: 10px;
                li {
                    list-style-type: none;
                    font-size: 15px;
                    text-transform: uppercase;
                    a {
                        color: #131200;
                        text-decoration: none;
                        border-bottom: 1px solid black;
                    }
                }
            }

            span {
                text-align: center;
                font-size: 19px;
                padding: 10px;
                border-bottom: 1px solid darkgray;
            }
            button {
                padding: 0.6rem 0.9rem;
                background-color: $danger-color;
                border: none;
                color: white;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}
