$orange-color:rgb(255,142,40);
$background-color:#FAF7F2;
$dark-color:#332D2D;
$light-color:#FBFBFB;
$primary-color:#54B4D3;
$danger-color:#DC4C64;
$success-color:#14A44D;
$blue-color:#3B71CA;
$font-poppins: "Open Sans", sans-serif;
$font-satisfy: "Satisfy", cursive;